[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/troyd/Desktop/KRPano_1.20_Lic.txt]
row=5
col=0

[/home/troyd/Desktop/krpano-1.20.7]
row=1
col=0

[/home/troyd/Desktop/downloads]
row=0
col=1

[/home/troyd/Desktop/360pano]
row=2
col=0

[Trash]
row=0
col=0

[/]
row=3
col=0

[/home/troyd]
row=4
col=0

