[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/troyd/Desktop/360pano]
row=1
col=0

[/home/troyd/Desktop/krpano-1.20.7]
row=0
col=0

[/home/troyd/Desktop/Ajinomoto]
row=2
col=0

[/home/troyd/Desktop/popup_sample]
row=4
col=0

[/home/troyd/Desktop/GIIAS_04]
row=3
col=0

[/home/troyd/Desktop/godotgames]
row=5
col=0

