[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/troyd/Desktop/krpano-1.20.7]
row=0
col=0

[/home/troyd/Desktop/360_tours]
row=1
col=0

[/home/troyd/Desktop/pdf-flipbook]
row=3
col=0

[/home/troyd/Desktop/Corsair-Utility-Engine-v1.16.42.zip]
row=2
col=1

[/home/troyd/Desktop/magazine]
row=2
col=0

[/home/troyd/Desktop/h5p]
row=5
col=0

[/home/troyd/Desktop/class-phpmailer.php]
row=1
col=1

[/home/troyd/Desktop/GridGallery.zip]
row=0
col=1

[/home/troyd/Desktop/GridGallery]
row=4
col=0

