[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/troyd/Desktop/krpano-1.20.7]
row=0
col=0

[/home/troyd/Desktop/360pano]
row=1
col=0

[/home/troyd/Desktop/Ajinomoto]
row=2
col=0

[/home/troyd/Desktop/Half Life.desktop]
row=0
col=1

[/home/troyd/Desktop/Updating Counter-Strike Source.desktop]
row=2
col=1

[/home/troyd/Desktop/Counter-Strike WaRzOnE.desktop]
row=1
col=1

[/home/troyd/Desktop/HLDS.desktop]
row=1
col=2

[/home/troyd/Desktop/GIIAS_04]
row=3
col=0

[/home/troyd/Desktop/popup_sample]
row=0
col=2

[/home/troyd/Desktop/Counter-Strike Source.desktop]
row=3
col=1

