[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/troyd/Desktop/360_tours]
row=1
col=0

[/home/troyd/Desktop/krpano-1.20.7]
row=0
col=0

[/home/troyd/Desktop/kyfm]
row=3
col=0

[/home/troyd/Desktop/tigmedia.html]
row=2
col=0

[/home/troyd/Desktop/tig-main.js]
row=5
col=0

[/home/troyd/Desktop/index.html]
row=4
col=0

